gs-index {
    position: relative;
    display: block;
    
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}

gs-index > .root {
    width: 100%;
    height: 100%;
}

gs-index > .root > .index,
gs-index > .root > .page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: #F0F0F0;
    
    z-index: 2;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    gs-index > .root > .index {
        width: 20em;
        border-right: 1px solid #168216;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    .blue gs-index > .root > .index,
    gs-index.blue > .root > .index {
        border-color: #3B99BE;
    }
    
    gs-index > .root > .page {
        left: 20em;
    }
}


/* #################################################################### */
/* ############################ ANIMATIONS ############################ */
/* #################################################################### */


@-webkit-keyframes index-slide-left {
    from {
        transform: translate(200%,0%);
        -ms-transform: translate(200%,0%);
        -webkit-transform: translate(200%,0%);
    }
    to {
        transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        -webkit-transform: translate(0%,0%);
    }
}

@keyframes index-slide-left {
    from {
        transform: translate(200%,0%);
        -ms-transform: translate(200%,0%);
        -webkit-transform: translate(200%,0%);
    }
    to {
        transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        -webkit-transform: translate(0%,0%);
    }
}

gs-index > .root > .animate-left {
    -webkit-animation: index-slide-left 200ms ease;
    -moz-animation: index-slide-left 200ms ease;
    animation: index-slide-left 200ms ease;
}



@-webkit-keyframes index-slide-right {
    from {
        transform: translate(-200%,0%);
        -ms-transform: translate(-200%,0%);
        -webkit-transform: translate(-200%,0%);
    }
    to {
        transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        -webkit-transform: translate(0%,0%);
    }
}

@keyframes index-slide-right {
    from {
        transform: translate(-200%,0%);
        -ms-transform: translate(-200%,0%);
        -webkit-transform: translate(-200%,0%);
    }
    to {
        transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        -webkit-transform: translate(0%,0%);
    }
}

gs-index > .root > .animate-right {
    -webkit-animation: index-slide-right 200ms ease;
    -moz-animation: index-slide-right 200ms ease;
    animation: index-slide-right 200ms ease;
}